<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Lista de Nerds!</h1>

	<div class="panel panel-primary" ng-show="created">
		Nerd criado com sucesso!
	</div>


	<table border=1 ng-show="nerds.length > 0">
		<tr>
			<th>Nome</th>
			<th>Idade</th>
			<th>Apagar?</th>
		</tr>
		<tr ng-repeat="n in nerds">
			<td>{{n.name ? n.name : "(n/a)" }}</td>
			<td>{{n.age ? n.age : "(n/a)" }}</td>
			<td><button class="btn btn-primary" ng-click="deleteNerd($index)">x</button></td>
		</tr>
	</table>

	<div class="panel panel-primary" ng-hide="nerds.length > 0">
		Não existem nerds para mostrar!
	</div>

</div>