[ng-cloak]
{
	display: none !important;
}

body
{
	font-family: sans-serif;
	font-size: 16px;
	background: #eee;
}
table
{
	width: 50%; 
	margin: 0 auto
}
th 
{
	background: #bbb;
	color: black;
}

td, th
{
	padding: 0.5em;
}

th:first-child, td:first-child
{
	text-align: left;
	width: 90%;
}

th:last-child, td:last-child
{
	text-align: center;
	width: 10%;
}

.editable
{
	vertical-align: middle;
	display: inline-block;
	height: 35px;
	line-height: 35px;
}
.editable:hover
{
	cursor: pointer;
	border: 1px dotted #f00;
	border-width: 0 0 1px 0;
	
}

input.editing
{
	background: #fff;	
	border: 1px solid #abc;
	padding: 0.3em 0.6em;
}

.jumbotron
{
	background: #f8f8f8;
	box-shadow: 2px 2px 3px #999;
	margin-top: 0; padding-top: 0.5em;
}



.book-item
{
	padding: 1em 1em;
	margin: 1em 0em;
	
	background: white;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	border-radius: 5px;

	transition: 0.3s all ease-in-out;
}

.book-item--editing
{
	background: rgba(255,255,0,0.15);
	box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.book-item--finished_editing
{
	background: rgba(0,255,0,0.1);
}

.book-item.ng-leave
{
	animation: slideLeft 1s both ease-in-out;
}

/* Animations */
	
.animate-view.ng-leave
{
    animation: fadeOut 0.3s both cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.animate-view.ng-enter
{
    animation: slideFromBottom 0.3s both cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

@keyframes slideLeft {
	from 	{ transform: translateX(0); opacity: 1; }
	to 		{ transform: translateX(-100%); opacity: 0;}
}

@keyframes fadeOut {
    from  	{  transform: scale(1); opacity: 1; }
    to    	{  transform: scale(0); opacity: 0; }
}


@keyframes slideFromBottom {
    from    { transform: translateY(100%);  }
    to 		{ transform: translateY(0);  }    
}


.alert
{
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}